<div class="col-sm-8" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <th:block th:each="gallery :${galleries}" th:object="${gallery}">
            <div class="col-md-6">
                <article class="portfolio single-gallery">
                    <div class="post-thumb">
                        <img th:if="${#strings.equals(user.role,'ADMIN')}" th:id="*{id}" class="delete-gallery"
                             style="cursor: pointer" src="/resources/logo/delete.png">
                        <a th:href="@{/resources/galleries/{img}(img = *{imgUrl})}" data-rel="prettyPhoto[gallery]">
                            <img width="360px" height="200px" th:src="@{/resources/galleries/{img}(img = *{imgUrl})}"
                                 alt=""></a>
                        <div class="thumb-caption">
                        </div>
                    </div>
                </article>
            </div>
        </th:block>
    </div>
    <div th:if="${#lists.size(galleries) > 0}" class="post-pagination  clearfix">
        <ul class="pagination text-left">
            <th:block th:each="index :${#numbers.sequence(0,length)}">
                <li class="active" th:if="${index} == ${pageNumber}">
                    <a style="cursor: pointer" th:text="${index + 1}">1</a>
                </li>
                <li th:if="${index} != ${pageNumber}">
                    <a th:href="@{${#request.getRequestURI()}(page = ${index + 1})}" th:text="${index + 1}">2</a>
                </li>
            </th:block>
            <li th:if="${length} eq ${pageNumber}">
                <a style="cursor: pointer"><i class="fa fa-angle-double-right"></i></a>
            </li>
            <li th:unless="${length} eq ${pageNumber}">
                <a th:href="@{${#request.getRequestURI()}(page = ${pageNumber + 2})}"><i
                        class="fa fa-angle-double-right"></i></a>
            </li>
        </ul>
    </div>
</div>