<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<!-- Document Settings -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta id="galleriesLoad" content="true">
	<!-- Page Title -->
	<title>Login</title>
	<!-- Fonts -->
	<link
		href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i%7cOswald:300,400,500,600,700%7cPlayfair+Display:400,400i,700,700i"
		rel="stylesheet">
	<!-- Styles -->
	<link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/resources/assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="/resources/assets/css/slick-theme.css">
	<link rel="stylesheet" href="/resources/assets/css/slick.css">
	<link rel="stylesheet" href="/resources/assets/css/style.css">
</head>
<body>
<header class="kotha-menu marketing-menu">
	<nav class="navbar  navbar-default">
		<div class="container">
			<div class="menu-content">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					        data-target="#myNavbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="top-social-icons list-inline pull-right">
						<li><a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
						<li><a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a></li>
						<li><a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a></li>
						<li><a href="https://www.google.com"><i class="fa fa-google-plus"></i></a></li>
						<li class="top-search">
							<a style="cursor: pointer" class="sactive">
								<i class="fa fa-search"></i>
							</a>
						</li>
					</ul>
					<ul class="nav navbar-nav text-uppercase pull-left">
						<li><a href="/">Home</a></li>
						<li class="dropdown">
							<a style="cursor: pointer" class="dropdown-toggle" data-toggle="dropdown"
							   role="button"
							   aria-haspopup="true" aria-expanded="false">Categories</a>
							<ul class="dropdown-menu" id="cat-blog">

							</ul>
						</li>

						<li><a href="/gallery">Gallery</a></li>
						<li><a href="/about">About me</a></li>
						<li>
							<a href="/login">Login</a>
						</li>
						<li>
							<a href="/register">Register</a>
						</li>
					</ul>
				</div>
				<div class="show-search">
					<form role="search" method="get" id="searchform" action="/post/search">
						<input type="text" placeholder="Search post..." name="title" id="s">
						<button type="submit" style="border-style: none;background: none">
							<img src="/resources/logo/search.png">
						</button>
					</form>
				</div>
			</div>
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="kotha-logo text-center">
		<h1>
			<a href="/">
				<img width="300px" height="100px" src="/resources/logo/logo.gif" alt="kothPro">
			</a>
		</h1>
	</div>
</header>
<div class="kotha-default-content">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<article class="single-blog contact-us">
					<div class="post-content">
						<div class="entry-header text-center text-uppercase">

							<h2 class="text-left">Register</h2>
							<br/>
						</div>
						<div class="leave-comment">
							<form class="form-horizontal contact-form" id="register-form"
								  method="post" action="/register" th:object="${form}" enctype="multipart/form-data">
								<div class="form-group">
									<div class="col-md-12">
										<span style="color: red;position: relative;left: 20px" id="nameError" th:errors="*{name}"></span>
										<span style="color: red;position: relative;left: 20px" id="nameError" th:unless="*{#fields.hasErrors('name')}"></span>
										<input type="text" class="form-control register-input" id="name" th:field="*{name}" placeholder="Name...">
									</div>
								</div>
								<div class="form-group">
									<span style="color: red;position: relative;left: 20px" id="surnameError" th:errors="*{surname}"></span>
									<span style="color: red;position: relative;left: 20px" id="surnameError" th:unless="*{#fields.hasErrors('surname')}"></span>
									<div class="col-md-12">
										<input type="text" class="form-control register-input" id="surname" th:field="*{surname}" placeholder="Surname...">
									</div>
								</div>
								<div class="form-group">
									<span style="color: red;position: relative;left: 20px" id="usernameError" th:errors="*{username}"></span>
									<span style="color: red;position: relative;left: 20px" id="usernameError" th:unless="*{#fields.hasErrors('surname')}"></span>
									<div class="col-md-12">
										<input type="text" class="form-control register-input" id="username" th:field="*{username}" placeholder="Username...">
									</div>
								</div>
								<div class="form-group">
									<span style="color: red;position: relative;left: 20px" id="passwordError" th:errors="*{password}"></span>
									<span style="color: red;position: relative;left: 20px" id="passwordError" th:unless="*{#fields.hasErrors('password')}"></span>
									<div class="col-md-12">
										<input type="password" class="form-control register-input" id="password" th:field="*{password}" placeholder="Password...">
									</div>
								</div>
								<div class="form-group">
									<span style="color: red;position: relative;left: 20px" id="repeatPasswordError" th:errors="*{repeatPassword}"></span>
									<span style="color: red;position: relative;left: 20px" id="repeatPasswordError" th:unless="*{#fields.hasErrors('repeatPassword')}"></span>
									<div class="col-md-12">
										<input type="password" class="form-control register-input" id="repeatPassword" th:field="*{repeatPassword}" placeholder="Repeat password...">
									</div>
								</div>

								<div class="form-group">
									<span style="color: red;position: relative;left: 20px" id="imageError" th:errors="*{image}"></span>
									<span style="color: red;position: relative;left: 20px" id="imageError" th:unless="*{#fields.hasErrors('image')}"></span>
									<div class="col-md-12">
										<input  type="file" th:field="*{image}" id="file" class="inputfile register-input" />
										<label style="cursor: pointer" for="file" >Choose a photo</label><br/>
									</div>
								</div>

								<button type="submit" class="btn send-btn"> Register </button>
							</form>
						</div>
					</div>
				</article>
			</div>
			<div class="col-sm-4">
				<div class="kotha-sidebar">
					<aside class="widget insta-widget">
						<h2 class="widget-title text-uppercase text-center">Gallery</h2>
						<div class="instagram-feed" id="gallery-blog">
						</div>
					</aside>
				</div>
			</div>
		</div>
	</div>
</div><footer>
	<div class="container">
		<div class="footer-widget-row">
			<div class="footer-widget contact-widget">
				<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
					ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eaccusam et justo duo
					dolores eteem.</p>
				<div class="address">
					<h4 class="text-uppercase">contact Info</h4>
					<p> 239/2 NK Street, DC, USA</p>
					<p> Phone: +123 456 78900</p>
					<a href="mailto:theme@kotha.com">theme@kotha.com</a>
				</div>
			</div>
			<div class="footer-widget twitter-widget">
				<h2 class="widget-title text-uppercase">
					Latest TWeeTs
				</h2>
				<div class="single-tweet">
					<p>Check our new theme 'kotha - Personal WordPress Blog Theme' on #themeforest #Envato
						#WordPress <br>
						<a style="cursor: pointer">https://t.co/kN5OPEuPzx</a></p>
					<h4><i class="fa fa-twitter"></i>Tweeted on 17 hours ago</h4>
				</div>
				<div class="single-tweet">
					<p>Check our new theme 'kotha - Personal WordPress Blog Theme' on #themeforest #Envato
						#WordPress
						<br>
						<a style="cursor: pointer">https://t.co/kN5OPEuPzx</a></p>
					<h4><i class="fa fa-twitter"></i>Tweeted on 17 hours ago</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid text-center ft-copyright">
		<p>&copy; 2017 M Y ___ B L O G</p>
	</div>
</footer>
<div class="scroll-up">
	<a style="cursor: pointer"><i class="fa fa-angle-up"></i></a>
</div>
<!--//Script//-->
<script src="/resources/assets/js/jquery-1.12.4.min.js"></script>
<script src="/resources/assets/js/bootstrap.min.js"></script>
<script src="/resources/assets/js/slick.min.js"></script>
<script src="/resources/assets/js/main.js"></script>
<script src="/resources/js/generic.js"></script>
<script src="/resources/js/register.js"></script>
</body>
</html>